.workflow {
  display: flex;
  flex-direction: column;
  .graph-icon {
    font-size: 16px;
    &.icon-groups-btn-add {
      color: #5cb85c;
    }
    &.icon-groups-btn-del {
      color: #d9534f;
    }
  }
  .con {
    display: flex;
    .canvas {
      background-color: red;
      #canvas_6 {
        cursor: auto !important;
      }
    }
  }
}
